
*{
    margin: 0px;
    padding: 0px;
}

.header{
    height: 150px;
    width: 100%;
    background-color:white;
    justify-content: end;
    display: flex;
    gap: 40px;
    font-size: x-small;   

}
.home{
    text-decoration: underline solid goldenrod; 
    margin-top: 100px;

}
.cont{
    margin-right: 60px;
    margin-top:100px;
}
.logo{
    height: 85px;
    width: 490px;
    display: flex;
    margin-right: 500px;
    margin-top: 40px;
}
.logo1{
    height: 500px;
    width: 100%;
}
.container{
    height: 150px;
    width: 100%;
    background-color: white;
    text-align: center; 
}
.text1{
    color: goldenrod;
    position: relative;
    top: 59px;
    font-weight: bold ;
    font-weight: 900;
    font-size: 35px;
    font-style:calc(2) ;
    
}
.container2{
    height: 750px;
    width: 100%;
    background-color:white;
    display: flex;

    
}
.child{
    height: 700px;
    width: 367px;
    background-color:white;
    margin: 3px;
    margin-left: 59px;
}
.phase{
    text-align: center;
    margin-top: 10px;
}
.ptext{
    text-align: center;
    line-height: 24px;
    margin-top: 25px;
}
.btn{
    height: 50px;
    width: 200px;
    margin-left: 84px;
    margin-top: 38px;
    color: rgba(218, 165, 32, 0.705);
    border: 1px solid goldenrod;   
}
.childd{
    height: 730px;
    width: 367px;
    background-color:white;
    margin: 3px;
    margin-left: 59px;

}
.ptextt{
    text-align: center;
    line-height: 24px;
    margin-top: 17px;
}
.imgg{
    width: 1500px;
    height: 520px;
    
}
.footer{
    height: 250px;
    width: 100%;
    background-color:white;
    padding-top: 50px;
    box-sizing: border-box;

}
.ftext{
    color: goldenrod;
    text-align: center;
    gap: 50px;
    justify-content: end;
    font-size: xx-large;
}
.icon{
    display: flex;
}
#fb{
    font-size: 35px;
    margin-top: 40px;
    color: blue;
    margin-left: 550px;   
} 
#insta{
    font-size: 40px;
    margin-top: 40px;
    color: rgb(218, 68, 93);
    margin-left: 30px;
}
#twitter{
    font-size: 40px;
    margin-top: 40px;
    color: black;
    margin-left: 30px;
}
#you{
    font-size: 40px;
    margin-top: 40px;
    color: red;
    margin-left: 30px;
}
.footerr{
    height: 270px;
    width: 100%;
    background-color: black;
 }
 .ptexttt{
    color: gray;
    margin-left: 950px;
    padding-top: 120px;
    box-sizing: border-box;
    text-align: center;
 }
.ptext{
    color:white;
    font-size: 20px;
    margin-left: 20px;
}

  
    

 